<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mobile application test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB5B69801C28DBCA00E25030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5B69941C28DBCA00E25030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5B699F1C28DBCA00E25030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
